*{
    font-family: cursive;
    margin: 0;
    padding: 0;
}

.header i{ /*tratamos o ícone como texto na hora de configurá-lo*/
    font-size: 80px;
    text-align: left;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: crimson;
    padding: 30px;
    color: white;
    align-items: center;
}

.menu1 {
   display: flex;
   list-style: none;
  
}

.menu1 a{
    text-decoration: none;
    color: crimson;
    margin-left: 50px;
    background-color: white;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

.menu1 a:hover{
    color: rgba(0, 0, 255, 0.705);
}

h1{
    text-align: center;
    padding: 65px;
    font-size: 40px;
    background-color: black;
    color: white;
}

h2{
    text-align: center;
    height: 80px;
    font-size: 20px;
    background-color: black;
    color: white;
}

.imagens{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;/*serve para quebrar imagens na página*/
    background-color: rgba(0, 0, 255, 0.705);
}

.imagens div img{
   display: block;  
   width: 250px;
   height: 250px;
   padding: 50px;
}

.texto{
    padding: 110px;
    text-align: justify;
    background-color: black;
    color: white;
    font-size: 20px;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: crimson;
    padding: 60px;
    
}

.menu2 {
    display: flex;
    
    list-style: none;
    justify-content: space-between;
    }

    .menu2 a{
    margin-left: 25px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    }

    .menu2 a:hover{
        color:rgba(0, 0, 255, 0.705) ;
    }
