*{
    font-family: cursive;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: crimson;
    padding: 30px;   
}

.header i{
    font-size: 100px;
}

.header ul{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    list-style: none;
    margin-left: 10px;
}

h1{
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

h2{
    text-align: center;
    padding: 30px;
    font-size: 20px;
    bottom: 60px;
}

.imagens{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
    flex-wrap: wrap;/*serve para quebrar imagens na página*/
}

.imagens img{
   display: block;
   max-width: 100%;    
   
}

.footer ul{
    display: flex;
    justify-content: space-evenly;
    background-color: crimson;
    padding: 40px;
    list-style: none;
    color: white;
}


